//--views/logueado/perfil.pug
extends ../layouts/logueado

block content
  h2 Perfil de Usuario

  if usuarioSesion.img_perfil
    img(src=`/uploads/${usuarioSesionrio.img_perfil}` alt="Foto de perfil" width="150")

  p
    strong Nombre:
    | #{usuarioSesion.nombre} #{usuarioSesion.apellido}

  p
    strong Email:
    | #{usuarioSesion.email}

  p
    strong Estado:
    | #{usuarioSesion.estado == 1 ? 'Activo' : 'Inactivo'}

  p
  strong Fecha de registro:
  | #{usuarioSesion.fecha.toLocaleDateString('es-AR')}


  p
    strong Formación:
    | #{usuarioSesion.formacion || 'No especificada'}

  p
    strong Intereses:
    | #{usuarioSesion.intereses || 'No especificados'}

  a(href="/home") ← Volver al inicio
